body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFF;
    color: #434455;
}

header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    ;
}

footer {
    background-color: #2E2F42;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    margin: auto;
    padding: 0 16px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}





.item {
    background-color: #FFFFFF;
}

.icon {
    fill: #f4f4fd;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 16px;
}

.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-decoration: none;
    text-transform: uppercase;

    color: #4D5AE5;
}

.text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
}

.logo-top {
    color: #2e2f42;
}

.logo-bottom {
    color: #f4f4fd;
}

.item {
    background-color: #FFFFFF;
}

.nav-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.nav-list-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.nav-link {
    display: block;
    padding: 24px 0;
}

.nav-effects {
    position: relative;
    color: #404bbf;
}

.nav-effects::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.mail-tell-data {
    font-style: normal;
}

.mail-tell-data .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    line-height: 0;
    
}

.mail-tell-data-item{
    line-height: 1.17;
}

.mail-tell-data-link {
    letter-spacing: 0.04em;
    font-size: 12px;
    font-weight: 400;
    color: #434455;
}
/* Header */

/* Hero */
.hero {
    max-width: 320px;
    margin: 0 auto;
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tel-bg.jpg);
}

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    margin: auto;
    margin-bottom: 48px;
    max-width: 496px;
    text-transform: capitalize;

}

.hero-button {
    display: block;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
    border: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
/* Hero */

/* Benefits  */
.section {
    padding: 96px 0;
}

.subtitle-benefits {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.text-benefits {
    color: #434455;
    font-size: 16px;
    font-weight: 500;

}
.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;

}

.benefits-list-item {
    flex-basis: calc((100% - 216px) / 4);
}

.benefits-list-item .subtitle {
    margin-bottom: 8px;
}
.svg-card-benefits {
    display: none;
}
/* Benefits */

/* Team section */
.team-section {
    background-color: #F4F4FD;
}


.team-container-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-container-list .item {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    max-width: 264px;
}

.team-card-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 0;
    width: 232px;
    margin: auto;
}

.team-card-name .subtitle {
    text-align: center;
}

.team-card-name .text {
    text-align: center;
}

.sochial-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.sochial-media-item-link {
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.sochial-media-item-link:hover,
.sochial-media-item-link:focus {
    background-color: #404BBF;
}

/* Team section */

/* Our Portfolio */

.title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    flex-wrap: wrap;
}

.portfolio-list .item {
    flex-basis: 288px;
    background: #FFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.img-portfolio-items{
    width: 100%;
    height:280px;
}

.portfolio-container .list .item:hover,
.portfolio-container .list .item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.portfolio-item-container {
    position: relative;
    overflow: hidden;
}

.portfolio-card-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);


}


.portfolio-card-name .subtitle {
    margin-bottom: 8px;
}

.hidden-text-portfolio {
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container>.list>.item:hover .hidden-text-portfolio,
.portfolio-container>.list>.item:focus .hidden-text-portfolio {
    transform: translateY(0%);
}
/* Our Portfolio */


/* Basement */

.basement {
    padding: 96px 0;
}

.basement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.slogan {
    color: #F4F4FD;
    max-width: 288px;
}

.basement-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.basement-description-container .logo {
    margin-bottom: 16px;
}

.sochial-media-container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sm-footer {
    gap: 16px;
}

.sochial-media-name {
    color: #FFFFFF;
    margin-bottom: 16px;
    font-weight: 500;
}

.dark:focus,
.dark:hover {
    background-color: #31D0AA;
}

.box-form-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.subscribe-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.legend-footer {
    color: #FFF;
    margin-bottom: 16px;
    font-weight: 500;
    color: #ffffff;
}

.input-subscribe-footer {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    padding-left: 16px;
    background-color: transparent;
    border-radius: 4px;
    opacity: 0.6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);    color: #ffffff;

}

.input-subscribe-footer::placeholder {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.48px;
}

.button-subscribe-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    max-width: 165px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #ffffff;
    padding: 8px 24px;
    border: none;
}

.button-subscribe-footer:hover,
.button-subscribe-footer:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.plane-icon {
    margin-left: 16px;
}


.box-subscribe-footer {
    display: flex;
    gap: 24px;
}

/* Basement */

/* Backdrop */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(46, 47, 66, 0.40);
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.box-form-call-back {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 288px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-call {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    padding: 0;
    line-height: 0;
    top: 24px;
    right: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.close-icon-call {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-call:hover .close-icon-call,
.close-button-call:focus .close-icon-call {
    fill: #FFFFFF;
}

.close-button-call:hover,
.close-button-call:focus {
    background-color: #404BBF;
    border: none;

}

.legend-call-beck {
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #2E2F42;
}

.label {
    display: block;
    color: #8E8F99;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.call-back-input {
    width: 256px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-input:hover,
.call-back-input:focus {
    border-color: #4D5AE5;
}

.call-back-input:hover+.form-call-back-icon,
.call-back-input:focus+.form-call-back-icon {
    fill: #4D5AE5;
}

.call-back-textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    width: 256px;
    height: 120px;
    resize: none;
    padding: 8px 16px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-textarea:hover,
.call-back-textarea:focus {
    border-color: #4D5AE5;
}

.call-back-checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.button-call-back {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: 0;
    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-call-back:hover,
.button-call-back:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.box-privacy-politicy {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.box-privacy-politicy .label {
    line-height: 1.17;
    margin-bottom: 0;
}

.call-back-checkbox:checked+.privacy-label>.span-icon-property {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}



.call-back-checkbox:checked+.privacy-label>.span-icon-property>.privacy-icon {

    opacity: 1;
}

.box-input-call-back {
    position: relative;
}

.box-form-comment {
    margin-bottom: 16px;
}

.form-call-back-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-label-input-call-back {
    margin-bottom: 8px;
}



.privacy-icon {
    fill: #F4F4FD;
    line-height: 0;
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.span-icon-property {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: #FCFCFC;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
    margin-left: 6px;
    color: #4d5ae5;
}
/* Backdrop */

@media screen and (max-width:767px){
/* Header */

    
.nav-list{
    display: none;
}

.mail-tell-data{
    display: none;
}

.button-burger{
    border:none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}
/* Header */

/* Hero */


.heading{
    padding: 0 60px 0 59px;
    max-width: 288px;
    margin-bottom: 72px;
}
/* Hero */

/* Benefits  */
.benefits-list{
    row-gap: 72px;
}
/* Benefits */
/* Our team */
.team-container-list .item{
    margin: 0 auto;

    /* Our Team */
}

        /* mobile menu */
        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 640px;
            background-color: #FFF;

            transform: translateX(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        } 

        .mobile-menu.is-open{
            transform: translateX(0%);
        }


        .mobile-menu-container{
            position: relative;
            padding-top: 72px ;
            padding-bottom: 40px;
        }

        .nav-mobile-list{
            display: flex;
            flex-direction: column;
            gap:40px;
        }
        
        .close-button-call{
            top: 25px;
            right: 16px;
        }

        /* .mobile-close-button-call{
            position: absolute;
            top: 25px;
            right: 16px;
        } */

        .mobile-navigation{
            margin-bottom: 168px;
        }

        .mobile-nav-link {
            font-size: 36px;
            font-weight: 700;
            display: block;
            line-height: 1.11;
        }

                .mobile-mail-tell-data{
                    margin-bottom: 48px;
                }

        .mobile-mail-tell-data .list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            line-height: 0;
        }

        .mobile-mail-tell-data-link{
            font-size: 20px;
            letter-spacing: 0.02em;
        }

        .mobile-sochial-media{
            display: flex;
                justify-content: space-between;
                gap: 24px;
        }

    
        /* mobile menu */
}

@media screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px),
screen and (min-device-pixel-raito: 2) and (max-width:767px){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tel-bg@2x.jpg);
    }

}

@media screen and (min-width:768px) {
/* Header */
    .container {
        max-width: 768px;
        padding: 0 24px;
    }

    .button-burger{
        display: none;
    }

    .navigation .logo {
        margin-right: 76px;
    }

    .navigation {
        display: flex;
        align-items: flex-start;
    }

    .navigation>.logo {
        padding: 24px 0;
    }

/* header */

    /* Hero */

    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg.jpg);
        padding: 112px 0;
        }

        .heading{
            font-size: 56px;
            line-height: 1.07;
        }
    /* Hero */

    /* Benefits */

        .benefits-list{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 72px;
            column-gap: 24px ;
        }

        .benefits-list-item {
            flex-basis: calc((100% - 24px) / 2);
        }

    /* Benefits */

    /* Our Team */

.team-container-list{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px ;
justify-content: center;
}

.team-container-list .item{
    flex-basis: calc((100% - 24px) / 2) ;
}

    /* Our team */

    /* Our Portfolio */

.portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
}

.portfolio-list .item{
    flex-basis: calc((100% - 24px) / 2);
}

.img-portfolio-items{
    height: 300px;
}
    /* Our Portfolio */

    /* Basement */

.basement-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 24px;
    row-gap: 72px;
    align-items: baseline;
    padding-left: 108px;
}

.basement-description-container{
    align-items: start;
}

.slogan{
    width: 264px;
}
.sochial-media-container-footer{
    align-items: start;
}

.box-form-subscribe{
    align-items: start;
}

.subscribe-footer{
    flex-direction: row;
    gap: 24px;
}
    /* Basement */

    /* Backdrop */
        .box-form-call-back{
            max-width: 408px;
            padding: 72px 25px 24px 23px;
        }

        .call-back-input{
            width: 360px;
        }

        .call-back-textarea{
            width: 360px;
        }


    /* Backdrop */
    
        .mobile-menu{
            display: none;
        }


}

@media screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px),
screen and (min-device-pixel-raito: 2) and (min-width:768px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg@2x.jpg);
    }

}

@media screen and (min-width:1158px) {
/* Header */
.container{
    max-width: 1158px;
    padding: 0 15px;
}

.mail-tell-data .list{
    flex-direction: row;
    gap: 40px;
}

.mail-tell-data-link {
    letter-spacing: 0.02em;
    font-size: 16px;
}
/* Header */


    /* Hero */

    .hero {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        padding: 188px 0;
    }
    .heading{
    font-size: 56px;
    line-height: 1.07;

    }
    /* Hero */

    /* Benefits */

    .benefits-list{
        flex-wrap: nowrap;

    }

    .benefits-list-item{
        
    }

    .subtitle-benefits {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: start;
    }

    .text-benefits {
        font-weight: 400;

    }

    .svg-card-benefits{
        display: flex;
            background-color: #F4F4FD;
            border: 1px solid #8E8F99;
            border-radius: 4px;
            margin-bottom: 8px;
            justify-content: center;
            align-items: center;
            height: 112px;
    }

    /* Benefits */


    /* Our Portfolio */

    .portfolio-list .item{
        flex-basis: calc((100% - 48px) / 3);
    }

    /* Our Portfolio */

    /* Basement */

    .basement-container{
        gap: 0;
    }

    .sochial-media-container-footer{
        margin-left: 120px;
    }

    .box-form-subscribe{
        margin-left: 80px;
    }

    /* Basement */

    /* Backdrop */


    /* Backdrop */
}

@media screen and (min-resolution: 192dpi) and (min-width:1158px),
screen and (min-resolution: 2dppx) and (min-width:1158px),
screen and (min-device-pixel-raito: 2) and (min-width:1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg@2x.jpg);
    }

}